/* Ocupa toda la ventana y quita márgenes */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita scroll */
  font-family: 'Segoe UI', sans-serif;
  background: #000; /* Fondo negro */
}

